extends ./_layout.jade

mixin proj(d)
  div.main(class=d.stargazers_count>500?'verywide':d.stargazers_count>50?'wide':'normal' class=d.platform.replace(/-/g, '').toLowerCase())
    div
      h3= d.name
        small  / #{d.platform.toLowerCase()}
        if d.rank
          small  ##{d.rank}

      if d.normalized_licenses
        p= d.normalized_licenses.join(', ')

      if d.language && d.platform === 'x-GITHUB'
        p= d.language

      p= d.html_url || d.repository_url
      if d.homepage !== (d.html_url || d.repository_url)
        p= d.homepage

      if d.stargazers_count
        p #{d.stargazers_count} stargazers

      if d.forks_count
        p #{d.forks_count} forks



block title
  title Hehaaamwaha

block content
  h1 Hop
  h2 Les projects:

  section
    each d in day
      +proj(d)

  footer
    p Until à la prochaine, #{day.length} projets ça suffit pour aujourd'hui!
