extends ./_layout.jade

mixin proj(d, c, j)
  div(id='tab-' + c + '-' + j)
    h4= d.name

    if d.description
      p= d.description

    if d.normalized_licenses && d.normalized_licenses.length
      p Licences: #{d.normalized_licenses.join(', ')}

    if d.language && d.platform === 'x-GITHUB'
      p Langage: #{d.language}

    p: a(href=d.html_url || d.repository_url)= d.html_url || d.repository_url

    if d.homepage && d.homepage !== (d.html_url || d.repository_url)
      p: a(href=d.homepage)= href=d.homepage

    if d.stargazers_count
      p #{d.stargazers_count} stargazers

    if d.forks_count
      p #{d.forks_count} forks

mixin groups(g)
  -const keys = sortBy(Object.keys(g), (x) => g[x].length).reverse()
  each k, i in keys
    div.main.tabs
      ul
        each a, b in g[k]
          li: a(href='#tab-' + b + '-' + i) #{a.platform.toLowerCase().replace(/^x-/, '')}
      each a, b in g[k]
        +proj(a, b, i)

block title
  title Méridas de Robin Millette

block content
  h1 Méridas de Robin Millette
  p: a(href='https://github.com/stars/millette') Étoiles sur github/millette
  h2 Les étoiles du #{new Date().toLocaleDateString()}
  h3 Les #{Object.keys(grouped).length} projets de la journée:

  section
    +groups(grouped)

  footer
    p Obtenir les sources:
      a(href='https://github.com/millette/meridas')  https://github.com/millette/meridas
    p Un projet de
      a(href='http://robin.millette.info/')  Robin Millette
