extends ./_layout.jade

mixin groups(g)
  -const keys = Object.keys(g)//.slice(1, 2)
  each k, i in keys
    div.main.tabs
      ul
        each a, b in g[k]
          li: a(href='#tab-' + b + '-' + i) ##{b + 1}
      each a, b in g[k]
        +proj(a, b, i)

mixin proj(d, c, j)
  div(id='tab-' + c + '-' + j)
    h3= d.name
      small  / #{d.platform.toLowerCase().replace(/^x-/, '')}

    if d.normalized_licenses
      p Licenses: #{d.normalized_licenses.join(', ')}

    if d.language && d.platform === 'x-GITHUB'
      p Language: #{d.language}

    p: a(href=d.html_url || d.repository_url)= d.html_url || d.repository_url

    if d.homepage && d.homepage !== (d.html_url || d.repository_url)
      p: a(href=d.homepage)= href=d.homepage

    if d.stargazers_count
      p #{d.stargazers_count} stargazers

    if d.forks_count
      p #{d.forks_count} forks

block title
  title Hehaaamwaha

block content
  h1 Hop
  h2 Les projects:

  section
    +groups(grouped)

  footer
    p Until à la prochaine, #{day.length} projets ça suffit pour aujourd'hui!

    //pre= JSON.stringify(grouped, null, ' ')
